.blog-banner{
padding-top: 130px;
padding-bottom: 130px;
background-image: url(../images/blogimagpages.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
width: 100%;
text-align: center;

}