@keyframes ldio-2skp4pzb2x5 {
  0% {
    top: 48px;
    left: 48px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: -2px;
    left: -2px;
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}

.ldio-2skp4pzb2x5 div {
  position: absolute;
  border-width: 2px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-2skp4pzb2x5 0.8928571428571428s cubic-bezier(0, 0.2, 0.8, 1)
    infinite;
}

.ldio-2skp4pzb2x5 div:nth-child(1) {
  border-color:#2A7C6F ;
}

.ldio-2skp4pzb2x5 div:nth-child(2) {
  border-color: #4f6bc1;
  animation-delay: -0.4464285714285714s;
}

.loadingio-spinner-ripple-0r1rujj3n6i {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-2skp4pzb2x5 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.ldio-2skp4pzb2x5 div {
  box-sizing: content-box;
}

.loader {
  width: 100vw;
  height: 100vh;
  background-color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  position: fixed;
}
